<div *ngIf="oferta" class="card">
    <div class="card-body">
        <h5 class="card-title">{{oferta.titulo}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Fecha límite: {{oferta.fechaLimite | fecha}}</li>
        <li class="list-group-item">Sueldo: {{oferta.sueldo}}</li>
    </ul>
    <div class="card-body">
        <button type="button" class="btn btn-primary btn-block" [routerLink]="['/oferta', oferta._id]">Ver detalles</button>
    </div>
</div>