<div class="container animate__animated animate__fadeInRight animate__fast">
    <h1>Tus solicitudes</h1>
    <hr>
    <ng-container *ngIf="solicitudes.length === 0; else elseTemplate">
        <strong>No tienes solicitudes</strong>
    </ng-container>
    <ng-template #elseTemplate>
        <table class="table">
            <thead>
                <tr class="bg-primary">
                    <th scope="col"></th>
                    <th scope="col">Código de la oferta</th>
                    <th scope="col">Fecha límite</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of solicitudes; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td><a [routerLink]="['/oferta', solicitud.oferta]">{{solicitud.oferta}}</a></td>
                    <td>{{solicitud.fecha | fecha}}</td>
                    <td [ngClass]="coloresEstado(solicitud)">
                        {{solicitud.estado}}
                    </td>
                    <div *ngIf="usuarioService.esEmpresa()">
                        <td>
                            <a [routerLink]="['/demandante', solicitud.demandante, 'curriculum']">Datos del demandante</a>
                        </td>
                        <td *ngIf="solicitud.estado === 'PENDIENTE'">
                            <button type="button" class="btn btn-success" (click)="aceptar(solicitud)">Aceptar</button>
                            <button type="button" class="btn btn-danger" (click)="rechazar(solicitud)">Rechazar</button>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>