<div class="container animate__animated animate__fadeInRight animate__fast">
    <div class="row">
        <h1 class="col text-left"><strong>Curriculum</strong></h1>
        <div class="col text-right">
            <button class="btn btn-primary" (click)="atras()">
                <i class="fa fa-arrow-left"></i>
                Atras
            </button>
            <button *ngIf="usuarioService.esDemandante()" class="btn btn-primary mx-1" (click)="editar()">
                <i [class]="formActivo ? 'fa fa-address-card' : 'fa fa-pencil'"></i>
                {{formActivo ? 'Curriculum' : 'Editar'}}
            </button>
        </div>
    </div>
    <hr>
    <ng-container *ngIf="!formActivo; else elseTemplate">
        <div class="container animate__animated animate__fadeInRight animate__fast">
            <h3><strong>Formación académica</strong></h3>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let f of curriculum.formacionAcademica; let i = index">{{i+1}} - {{f}}</li>
            </ul>
            <br>

            <h3><strong>Formación complementaria</strong></h3>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let f of curriculum.formacionComplementaria; let i = index">{{i+1}} - {{f}}</li>
            </ul>
            <br>

            <h3><strong>Experiencia profesional</strong></h3>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let e of curriculum.experiencia; let i = index">{{i+1}} - {{e}}</li>
            </ul>
            <br>

            <h3><strong>Competencias</strong></h3>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let c of curriculum.competencias; let i = index">{{i+1}} - {{c}}</li>
            </ul>
            <br>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="container animate__animated animate__fadeInRight animate__fast">
            <form (ngSubmit)="submit()" [formGroup]="form">

                <div class="form-group" formArrayName="formacionAcademica">
                    <h3>
                        Formación académica
                        <button class="btn btn-primary" type="button" (click)="agregarFormacionAcademica()">
                            <i class="fa fa-plus"></i>
                            Agregar
                        </button>
                    </h3>
                    <hr>
                    <div *ngFor="let control of formacionAcademica.controls; let i = index">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="text" [formControlName]="i">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" (click)="borrarFormacionAcademica(i)">
                                    Borrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" formArrayName="formacionComplementaria">
                    <h3>
                        Formación complementaria
                        <button class="btn btn-primary" type="button" (click)="agregarFormacionComplementaria()">
                            <i class="fa fa-plus"></i>
                            Agregar
                        </button>
                    </h3>
                    <hr>
                    <div *ngFor="let control of formacionComplementaria.controls; let i = index">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="text" [formControlName]="i">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" (click)="borrarFormacionComplementaria(i)">
                                    Borrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" formArrayName="experiencia">
                    <h3>
                        Experiencia
                        <button class="btn btn-primary" type="button" (click)="agregarExperiencia()">
                            <i class="fa fa-plus"></i>
                            Agregar
                        </button>
                    </h3>
                    <hr>
                    <div *ngFor="let control of experiencia.controls; let i = index">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="text" [formControlName]="i">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" (click)="borrarExperiencia(i)">
                                    Borrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group" formArrayName="competencias">
                    <h3>
                        Experiencia
                        <button class="btn btn-primary" type="button" (click)="agregarCompetencias()">
                            <i class="fa fa-plus"></i>
                            Agregar
                        </button>
                    </h3>
                    <hr>
                    <div *ngFor="let control of competencias.controls; let i = index">
                        <div class="row">
                            <div class="col-10">
                                <input class="form-control" type="text" [formControlName]="i">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" (click)="borrarCompetencias(i)">
                                    Borrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Hecho</button>
            </form>
        </div>
    </ng-template>

</div>