<div class="d-flex" id="wrapper">

    <div class="bg-primary border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <br>
            <a routerLink='' class="list-group-item list-group-item-action bg-primary">Inicio</a>
            <ng-container *ngIf="usuarioService.sesionIniciada(); else elseTemplate">
                <a *ngIf="usuarioService.esEmpresa()" [routerLink]="['ofertas', usuarioService.getId()]" class="list-group-item list-group-item-action bg-primary">Mis ofertas</a>
                <a *ngIf="usuarioService.esDemandante()" [routerLink]="['solicitudes', usuarioService.getId()]" class="list-group-item list-group-item-action bg-primary">Mis solicitudes</a>
                <a class="list-group-item list-group-item-action bg-primary" (click)="logout()">Cerrar sesión</a>
            </ng-container>
            <ng-template #elseTemplate>
                <a routerLink='login' class="list-group-item list-group-item-action bg-primary">Iniciar sesión</a>
            </ng-template>

        </div>
    </div>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
            <button class="btn btn-primary" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
            <input class="form-control ml-2 w-25" type="search" placeholder="Busque su oferta" aria-label="Search">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink=''>Home</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto mt-2 mt-lg-0 h2" style="color: white;">
                    OfertasTrabajo
                </div>
            </div>
        </nav>
        <router-outlet class="container-fluid"></router-outlet>
    </div>
</div>